.icon-abw { background-image: url(../png/abw.png); background-repeat: no-repeat; }

.icon-afg { background-image: url(../png/afg.png); background-repeat: no-repeat; }

.icon-ago { background-image: url(../png/ago.png); background-repeat: no-repeat; }

.icon-aia { background-image: url(../png/aia.png); background-repeat: no-repeat; }

.icon-ala { background-image: url(../png/ala.png); background-repeat: no-repeat; }

.icon-alb { background-image: url(../png/alb.png); background-repeat: no-repeat; }

.icon-and { background-image: url(../png/and.png); background-repeat: no-repeat; }

.icon-are { background-image: url(../png/are.png); background-repeat: no-repeat; }

.icon-arg { background-image: url(../png/arg.png); background-repeat: no-repeat; }

.icon-arm { background-image: url(../png/arm.png); background-repeat: no-repeat; }

.icon-asm { background-image: url(../png/asm.png); background-repeat: no-repeat; }

.icon-atf { background-image: url(../png/atf.png); background-repeat: no-repeat; }

.icon-atg { background-image: url(../png/atg.png); background-repeat: no-repeat; }

.icon-aus { background-image: url(../png/aus.png); background-repeat: no-repeat; }

.icon-aut { background-image: url(../png/aut.png); background-repeat: no-repeat; }

.icon-aze { background-image: url(../png/aze.png); background-repeat: no-repeat; }

.icon-bdi { background-image: url(../png/bdi.png); background-repeat: no-repeat; }

.icon-bel { background-image: url(../png/bel.png); background-repeat: no-repeat; }

.icon-ben { background-image: url(../png/ben.png); background-repeat: no-repeat; }

.icon-bes { background-image: url(../png/bes.png); background-repeat: no-repeat; }

.icon-bfa { background-image: url(../png/bfa.png); background-repeat: no-repeat; }

.icon-bgd { background-image: url(../png/bgd.png); background-repeat: no-repeat; }

.icon-bgr { background-image: url(../png/bgr.png); background-repeat: no-repeat; }

.icon-bhr { background-image: url(../png/bhr.png); background-repeat: no-repeat; }

.icon-bhs { background-image: url(../png/bhs.png); background-repeat: no-repeat; }

.icon-bih { background-image: url(../png/bih.png); background-repeat: no-repeat; }

.icon-blm { background-image: url(../png/blm.png); background-repeat: no-repeat; }

.icon-blr { background-image: url(../png/blr.png); background-repeat: no-repeat; }

.icon-blz { background-image: url(../png/blz.png); background-repeat: no-repeat; }

.icon-bmu { background-image: url(../png/bmu.png); background-repeat: no-repeat; }

.icon-bol { background-image: url(../png/bol.png); background-repeat: no-repeat; }

.icon-bra { background-image: url(../png/bra.png); background-repeat: no-repeat; }

.icon-brb { background-image: url(../png/brb.png); background-repeat: no-repeat; }

.icon-brn { background-image: url(../png/brn.png); background-repeat: no-repeat; }

.icon-btn { background-image: url(../png/btn.png); background-repeat: no-repeat; }

.icon-bvt { background-image: url(../png/bvt.png); background-repeat: no-repeat; }

.icon-bwa { background-image: url(../png/bwa.png); background-repeat: no-repeat; }

.icon-caf { background-image: url(../png/caf.png); background-repeat: no-repeat; }

.icon-can { background-image: url(../png/can.png); background-repeat: no-repeat; }

.icon-cck { background-image: url(../png/cck.png); background-repeat: no-repeat; }

.icon-che { background-image: url(../png/che.png); background-repeat: no-repeat; }

.icon-chl { background-image: url(../png/chl.png); background-repeat: no-repeat; }

.icon-chn { background-image: url(../png/chn.png); background-repeat: no-repeat; }

.icon-civ { background-image: url(../png/civ.png); background-repeat: no-repeat; }

.icon-cmr { background-image: url(../png/cmr.png); background-repeat: no-repeat; }

.icon-cod { background-image: url(../png/cod.png); background-repeat: no-repeat; }

.icon-cog { background-image: url(../png/cog.png); background-repeat: no-repeat; }

.icon-cok { background-image: url(../png/cok.png); background-repeat: no-repeat; }

.icon-col { background-image: url(../png/col.png); background-repeat: no-repeat; }

.icon-com { background-image: url(../png/com.png); background-repeat: no-repeat; }

.icon-cpv { background-image: url(../png/cpv.png); background-repeat: no-repeat; }

.icon-cri { background-image: url(../png/cri.png); background-repeat: no-repeat; }

.icon-cub { background-image: url(../png/cub.png); background-repeat: no-repeat; }

.icon-cuw { background-image: url(../png/cuw.png); background-repeat: no-repeat; }

.icon-cxr { background-image: url(../png/cxr.png); background-repeat: no-repeat; }

.icon-cym { background-image: url(../png/cym.png); background-repeat: no-repeat; }

.icon-cyp { background-image: url(../png/cyp.png); background-repeat: no-repeat; }

.icon-cze { background-image: url(../png/cze.png); background-repeat: no-repeat; }

.icon-deu { background-image: url(../png/deu.png); background-repeat: no-repeat; }

.icon-dji { background-image: url(../png/dji.png); background-repeat: no-repeat; }

.icon-dma { background-image: url(../png/dma.png); background-repeat: no-repeat; }

.icon-dnk { background-image: url(../png/dnk.png); background-repeat: no-repeat; }

.icon-dom { background-image: url(../png/dom.png); background-repeat: no-repeat; }

.icon-dza { background-image: url(../png/dza.png); background-repeat: no-repeat; }

.icon-ecu { background-image: url(../png/ecu.png); background-repeat: no-repeat; }

.icon-egy { background-image: url(../png/egy.png); background-repeat: no-repeat; }

.icon-eri { background-image: url(../png/eri.png); background-repeat: no-repeat; }

.icon-esp { background-image: url(../png/esp.png); background-repeat: no-repeat; }

.icon-est { background-image: url(../png/est.png); background-repeat: no-repeat; }

.icon-eth { background-image: url(../png/eth.png); background-repeat: no-repeat; }

.icon-fin { background-image: url(../png/fin.png); background-repeat: no-repeat; }

.icon-fji { background-image: url(../png/fji.png); background-repeat: no-repeat; }

.icon-flk { background-image: url(../png/flk.png); background-repeat: no-repeat; }

.icon-fra { background-image: url(../png/fra.png); background-repeat: no-repeat; }

.icon-fro { background-image: url(../png/fro.png); background-repeat: no-repeat; }

.icon-fsm { background-image: url(../png/fsm.png); background-repeat: no-repeat; }

.icon-gab { background-image: url(../png/gab.png); background-repeat: no-repeat; }

.icon-gbr { background-image: url(../png/gbr.png); background-repeat: no-repeat; }

.icon-geo { background-image: url(../png/geo.png); background-repeat: no-repeat; }

.icon-ggy { background-image: url(../png/ggy.png); background-repeat: no-repeat; }

.icon-gha { background-image: url(../png/gha.png); background-repeat: no-repeat; }

.icon-gib { background-image: url(../png/gib.png); background-repeat: no-repeat; }

.icon-gin { background-image: url(../png/gin.png); background-repeat: no-repeat; }

.icon-glp { background-image: url(../png/glp.png); background-repeat: no-repeat; }

.icon-gmb { background-image: url(../png/gmb.png); background-repeat: no-repeat; }

.icon-gnb { background-image: url(../png/gnb.png); background-repeat: no-repeat; }

.icon-gnq { background-image: url(../png/gnq.png); background-repeat: no-repeat; }

.icon-grc { background-image: url(../png/grc.png); background-repeat: no-repeat; }

.icon-grd { background-image: url(../png/grd.png); background-repeat: no-repeat; }

.icon-grl { background-image: url(../png/grl.png); background-repeat: no-repeat; }

.icon-gtm { background-image: url(../png/gtm.png); background-repeat: no-repeat; }

.icon-guf { background-image: url(../png/guf.png); background-repeat: no-repeat; }

.icon-gum { background-image: url(../png/gum.png); background-repeat: no-repeat; }

.icon-guy { background-image: url(../png/guy.png); background-repeat: no-repeat; }

.icon-hkg { background-image: url(../png/hkg.png); background-repeat: no-repeat; }

.icon-hmd { background-image: url(../png/hmd.png); background-repeat: no-repeat; }

.icon-hnd { background-image: url(../png/hnd.png); background-repeat: no-repeat; }

.icon-hrv { background-image: url(../png/hrv.png); background-repeat: no-repeat; }

.icon-hti { background-image: url(../png/hti.png); background-repeat: no-repeat; }

.icon-hun { background-image: url(../png/hun.png); background-repeat: no-repeat; }

.icon-idn { background-image: url(../png/idn.png); background-repeat: no-repeat; }

.icon-imn { background-image: url(../png/imn.png); background-repeat: no-repeat; }

.icon-ind { background-image: url(../png/ind.png); background-repeat: no-repeat; }

.icon-iot { background-image: url(../png/iot.png); background-repeat: no-repeat; }

.icon-irl { background-image: url(../png/irl.png); background-repeat: no-repeat; }

.icon-irn { background-image: url(../png/irn.png); background-repeat: no-repeat; }

.icon-irq { background-image: url(../png/irq.png); background-repeat: no-repeat; }

.icon-isl { background-image: url(../png/isl.png); background-repeat: no-repeat; }

.icon-isr { background-image: url(../png/isr.png); background-repeat: no-repeat; }

.icon-ita { background-image: url(../png/ita.png); background-repeat: no-repeat; }

.icon-jam { background-image: url(../png/jam.png); background-repeat: no-repeat; }

.icon-jey { background-image: url(../png/jey.png); background-repeat: no-repeat; }

.icon-jor { background-image: url(../png/jor.png); background-repeat: no-repeat; }

.icon-jpn { background-image: url(../png/jpn.png); background-repeat: no-repeat; }

.icon-kaz { background-image: url(../png/kaz.png); background-repeat: no-repeat; }

.icon-ken { background-image: url(../png/ken.png); background-repeat: no-repeat; }

.icon-kgz { background-image: url(../png/kgz.png); background-repeat: no-repeat; }

.icon-khm { background-image: url(../png/khm.png); background-repeat: no-repeat; }

.icon-kir { background-image: url(../png/kir.png); background-repeat: no-repeat; }

.icon-kna { background-image: url(../png/kna.png); background-repeat: no-repeat; }

.icon-kor { background-image: url(../png/kor.png); background-repeat: no-repeat; }

.icon-kwt { background-image: url(../png/kwt.png); background-repeat: no-repeat; }

.icon-lao { background-image: url(../png/lao.png); background-repeat: no-repeat; }

.icon-lbn { background-image: url(../png/lbn.png); background-repeat: no-repeat; }

.icon-lbr { background-image: url(../png/lbr.png); background-repeat: no-repeat; }

.icon-lby { background-image: url(../png/lby.png); background-repeat: no-repeat; }

.icon-lca { background-image: url(../png/lca.png); background-repeat: no-repeat; }

.icon-lie { background-image: url(../png/lie.png); background-repeat: no-repeat; }

.icon-lka { background-image: url(../png/lka.png); background-repeat: no-repeat; }

.icon-lso { background-image: url(../png/lso.png); background-repeat: no-repeat; }

.icon-ltu { background-image: url(../png/ltu.png); background-repeat: no-repeat; }

.icon-lux { background-image: url(../png/lux.png); background-repeat: no-repeat; }

.icon-lva { background-image: url(../png/lva.png); background-repeat: no-repeat; }

.icon-mac { background-image: url(../png/mac.png); background-repeat: no-repeat; }

.icon-maf { background-image: url(../png/maf.png); background-repeat: no-repeat; }

.icon-mar { background-image: url(../png/mar.png); background-repeat: no-repeat; }

.icon-mco { background-image: url(../png/mco.png); background-repeat: no-repeat; }

.icon-mda { background-image: url(../png/mda.png); background-repeat: no-repeat; }

.icon-mdg { background-image: url(../png/mdg.png); background-repeat: no-repeat; }

.icon-mdv { background-image: url(../png/mdv.png); background-repeat: no-repeat; }

.icon-mex { background-image: url(../png/mex.png); background-repeat: no-repeat; }

.icon-mhl { background-image: url(../png/mhl.png); background-repeat: no-repeat; }

.icon-mkd { background-image: url(../png/mkd.png); background-repeat: no-repeat; }

.icon-mli { background-image: url(../png/mli.png); background-repeat: no-repeat; }

.icon-mlt { background-image: url(../png/mlt.png); background-repeat: no-repeat; }

.icon-mmr { background-image: url(../png/mmr.png); background-repeat: no-repeat; }

.icon-mne { background-image: url(../png/mne.png); background-repeat: no-repeat; }

.icon-mng { background-image: url(../png/mng.png); background-repeat: no-repeat; }

.icon-mnp { background-image: url(../png/mnp.png); background-repeat: no-repeat; }

.icon-moz { background-image: url(../png/moz.png); background-repeat: no-repeat; }

.icon-mrt { background-image: url(../png/mrt.png); background-repeat: no-repeat; }

.icon-msr { background-image: url(../png/msr.png); background-repeat: no-repeat; }

.icon-mtq { background-image: url(../png/mtq.png); background-repeat: no-repeat; }

.icon-mus { background-image: url(../png/mus.png); background-repeat: no-repeat; }

.icon-mwi { background-image: url(../png/mwi.png); background-repeat: no-repeat; }

.icon-mys { background-image: url(../png/mys.png); background-repeat: no-repeat; }

.icon-myt { background-image: url(../png/myt.png); background-repeat: no-repeat; }

.icon-nam { background-image: url(../png/nam.png); background-repeat: no-repeat; }

.icon-ncl { background-image: url(../png/ncl.png); background-repeat: no-repeat; }

.icon-ner { background-image: url(../png/ner.png); background-repeat: no-repeat; }

.icon-nfk { background-image: url(../png/nfk.png); background-repeat: no-repeat; }

.icon-nga { background-image: url(../png/nga.png); background-repeat: no-repeat; }

.icon-nic { background-image: url(../png/nic.png); background-repeat: no-repeat; }

.icon-niu { background-image: url(../png/niu.png); background-repeat: no-repeat; }

.icon-nld { background-image: url(../png/nld.png); background-repeat: no-repeat; }

.icon-nor { background-image: url(../png/nor.png); background-repeat: no-repeat; }

.icon-npl { background-image: url(../png/npl.png); background-repeat: no-repeat; }

.icon-nru { background-image: url(../png/nru.png); background-repeat: no-repeat; }

.icon-nzl { background-image: url(../png/nzl.png); background-repeat: no-repeat; }

.icon-omn { background-image: url(../png/omn.png); background-repeat: no-repeat; }

.icon-pak { background-image: url(../png/pak.png); background-repeat: no-repeat; }

.icon-pan { background-image: url(../png/pan.png); background-repeat: no-repeat; }

.icon-pcn { background-image: url(../png/pcn.png); background-repeat: no-repeat; }

.icon-per { background-image: url(../png/per.png); background-repeat: no-repeat; }

.icon-phl { background-image: url(../png/phl.png); background-repeat: no-repeat; }

.icon-plw { background-image: url(../png/plw.png); background-repeat: no-repeat; }

.icon-png { background-image: url(../png/png.png); background-repeat: no-repeat; }

.icon-pol { background-image: url(../png/pol.png); background-repeat: no-repeat; }

.icon-pri { background-image: url(../png/pri.png); background-repeat: no-repeat; }

.icon-prk { background-image: url(../png/prk.png); background-repeat: no-repeat; }

.icon-prt { background-image: url(../png/prt.png); background-repeat: no-repeat; }

.icon-pry { background-image: url(../png/pry.png); background-repeat: no-repeat; }

.icon-pse { background-image: url(../png/pse.png); background-repeat: no-repeat; }

.icon-pyf { background-image: url(../png/pyf.png); background-repeat: no-repeat; }

.icon-qat { background-image: url(../png/qat.png); background-repeat: no-repeat; }

.icon-reu { background-image: url(../png/reu.png); background-repeat: no-repeat; }

.icon-rou { background-image: url(../png/rou.png); background-repeat: no-repeat; }

.icon-rus { background-image: url(../png/rus.png); background-repeat: no-repeat; }

.icon-rwa { background-image: url(../png/rwa.png); background-repeat: no-repeat; }

.icon-sau { background-image: url(../png/sau.png); background-repeat: no-repeat; }

.icon-sdn { background-image: url(../png/sdn.png); background-repeat: no-repeat; }

.icon-sen { background-image: url(../png/sen.png); background-repeat: no-repeat; }

.icon-sgp { background-image: url(../png/sgp.png); background-repeat: no-repeat; }

.icon-sgs { background-image: url(../png/sgs.png); background-repeat: no-repeat; }

.icon-shn { background-image: url(../png/shn.png); background-repeat: no-repeat; }

.icon-slb { background-image: url(../png/slb.png); background-repeat: no-repeat; }

.icon-sle { background-image: url(../png/sle.png); background-repeat: no-repeat; }

.icon-slv { background-image: url(../png/slv.png); background-repeat: no-repeat; }

.icon-smr { background-image: url(../png/smr.png); background-repeat: no-repeat; }

.icon-som { background-image: url(../png/som.png); background-repeat: no-repeat; }

.icon-spm { background-image: url(../png/spm.png); background-repeat: no-repeat; }

.icon-srb { background-image: url(../png/srb.png); background-repeat: no-repeat; }

.icon-ssd { background-image: url(../png/ssd.png); background-repeat: no-repeat; }

.icon-stp { background-image: url(../png/stp.png); background-repeat: no-repeat; }

.icon-sur { background-image: url(../png/sur.png); background-repeat: no-repeat; }

.icon-svk { background-image: url(../png/svk.png); background-repeat: no-repeat; }

.icon-svn { background-image: url(../png/svn.png); background-repeat: no-repeat; }

.icon-swe { background-image: url(../png/swe.png); background-repeat: no-repeat; }

.icon-swz { background-image: url(../png/swz.png); background-repeat: no-repeat; }

.icon-sxm { background-image: url(../png/sxm.png); background-repeat: no-repeat; }

.icon-syc { background-image: url(../png/syc.png); background-repeat: no-repeat; }

.icon-syr { background-image: url(../png/syr.png); background-repeat: no-repeat; }

.icon-tca { background-image: url(../png/tca.png); background-repeat: no-repeat; }

.icon-tcd { background-image: url(../png/tcd.png); background-repeat: no-repeat; }

.icon-tgo { background-image: url(../png/tgo.png); background-repeat: no-repeat; }

.icon-tha { background-image: url(../png/tha.png); background-repeat: no-repeat; }

.icon-tjk { background-image: url(../png/tjk.png); background-repeat: no-repeat; }

.icon-tkl { background-image: url(../png/tkl.png); background-repeat: no-repeat; }

.icon-tkm { background-image: url(../png/tkm.png); background-repeat: no-repeat; }

.icon-tls { background-image: url(../png/tls.png); background-repeat: no-repeat; }

.icon-ton { background-image: url(../png/ton.png); background-repeat: no-repeat; }

.icon-tto { background-image: url(../png/tto.png); background-repeat: no-repeat; }

.icon-tun { background-image: url(../png/tun.png); background-repeat: no-repeat; }

.icon-tur { background-image: url(../png/tur.png); background-repeat: no-repeat; }

.icon-tuv { background-image: url(../png/tuv.png); background-repeat: no-repeat; }

.icon-twn { background-image: url(../png/twn.png); background-repeat: no-repeat; }

.icon-tza { background-image: url(../png/tza.png); background-repeat: no-repeat; }

.icon-uga { background-image: url(../png/uga.png); background-repeat: no-repeat; }

.icon-ukr { background-image: url(../png/ukr.png); background-repeat: no-repeat; }

.icon-umi { background-image: url(../png/umi.png); background-repeat: no-repeat; }

.icon-ury { background-image: url(../png/ury.png); background-repeat: no-repeat; }

.icon-usa { background-image: url(../png/usa.png); background-repeat: no-repeat; }

.icon-uzb { background-image: url(../png/uzb.png); background-repeat: no-repeat; }

.icon-vat { background-image: url(../png/vat.png); background-repeat: no-repeat; }

.icon-vct { background-image: url(../png/vct.png); background-repeat: no-repeat; }

.icon-ven { background-image: url(../png/ven.png); background-repeat: no-repeat; }

.icon-vgb { background-image: url(../png/vgb.png); background-repeat: no-repeat; }

.icon-vir { background-image: url(../png/vir.png); background-repeat: no-repeat; }

.icon-vnm { background-image: url(../png/vnm.png); background-repeat: no-repeat; }

.icon-vut { background-image: url(../png/vut.png); background-repeat: no-repeat; }

.icon-wlf { background-image: url(../png/wlf.png); background-repeat: no-repeat; }

.icon-wsm { background-image: url(../png/wsm.png); background-repeat: no-repeat; }

.icon-yem { background-image: url(../png/yem.png); background-repeat: no-repeat; }

.icon-zaf { background-image: url(../png/zaf.png); background-repeat: no-repeat; }

.icon-zmb { background-image: url(../png/zmb.png); background-repeat: no-repeat; }

.icon-zwe { background-image: url(../png/zwe.png); background-repeat: no-repeat; }